body {
    background-image: url("https://s3.envato.com/files/242464024/Previmage.jpg");
    font-family: Courier, monospace;
}

img {
    border: 5px ridge papayawhip;
}

img:hover {
    border: 5px ridge maroon;
    background-color: wheat;
}

.imgpos {
    position: relative;
    top: 50px;
}
